name: DevSecOps Secure Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Run GitLeaks (Secrets Scan)
      uses: gitleaks/gitleaks-action@v2
      continue-on-error: true

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y wget
        wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.48.0_Linux-64bit.deb
        sudo dpkg -i trivy_0.48.0_Linux-64bit.deb

    - name: Build Docker Image
      run: docker build -t secure-app .

    - name: Scan Docker Image with Trivy
      run: |
        trivy image --severity HIGH,CRITICAL secure-app
